# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
build/

*.pdf

# Vscode related
.vscode
__pycache__/

# Everything in the scene folder
scenes/
*.ipch
*.opendb
*.db
*.db-wal
*.db-shm
.vs/CSE168/v16/.suo
*.sqlite
.vs/CSE168/v16/.suo
.vs/CSE168/v16/.suo
*.sqlite
*.sqlite
.vs/CSE168/v16/.suo
*.sqlite
